[submodule "web_ui"]
	path = web_ui
	url = git@github.com:kouragita/open-webui.git
[submodule "llm_llama"]
	path = llm_llama
	url = git@github.com:kouragita/llama.cpp.git
[submodule "stt_whisper"]
	path = stt_whisper
	url = git@github.com:kouragita/whisper.cpp.git
[submodule "tts_coqui"]
	path = tts_coqui
	url = git@github.com:kouragita/TTS.git
